{% block container %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinépolis</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Cinepolis</h1>
            <img src="../static/img/logoCinepolis.png" alt="Logo">
        </div>

        <div class="form-container" style="display: flex; justify-content: space-between; gap: 20px;">
            <form action="/cinepolis" method="POST" style="display: flex; width: 100%;">
                <div class="section" style="flex: 1;">
                    <h2>Entradas</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="{{ nombre }}" required>
                    
                    <label for="cant_personas">Cantidad Compradores:</label>
                    <input type="number" id="cant_personas" name="cant_personas" min="1" required>

                    <label>¿Cuenta con tarjeta CINECO?</label>
                    <div class="radio-group">
                        <input type="radio" id="tarjeta_si" name="cineco" value="si">
                        <label for="tarjeta_si">Sí</label>
                        <input type="radio" id="tarjeta_no" name="cineco" value="no" checked>
                        <label for="tarjeta_no">No</label>
                    </div>

                    <label for="cant_boletos">Cantidad De Boletos:</label>
                    <input type="number" id="cant_boletos" name="cant_boletos" min="1" required>
                </div>

                <div class="section" style="flex: 1;">
                    <h2>Salidas</h2>
                    <label for="valor">Valor a Pagar:</label>
                    <input type="text" id="valor" name="valor" value="{{ total_pagar }}" min="1" readonly>
                    <p style="color:red;">{{ mensaje }}</p>
                </div>
            </div>
                <div class="actions" style="flex: 1;">
                    <button type="submit">Procesar</button>
                    <button type="reset">Salir</button>
                </div>
            </form>
        
    </div>
</body>
</html>
{%endblock%}